In [ ]:
# working with flat file - TXT

In [11]:
# Open a file: file
file = open('cow_data.txt', mode='r')

# Print it
print(file.read())

# Check whether file is closed
print(file.closed)

Maggie,3
Herman,7
Betsy,9
Oreo,6
Moo Moo,3
Milkshake,2
Millie,5
Lola,2

Florence,2
Henrietta,9
False

In [12]:
# Read & print the first 3 lines
with open('cow_data.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

Maggie,3

Herman,7

Betsy,9

In [15]:
# Import numpy
import numpy as np
file='cow_data.txt'
# delimiter='\t' for tab and ',' for comma
# usecols: which columns should be read; for example import the first and third columns usecols=[0,2]
data = np.loadtxt(file, delimiter=',', dtype=str)
print(data)

[["b'Maggie'" "b'3'"]
 ["b'Herman'" "b'7'"]
 ["b'Betsy'" "b'9'"]
 ["b'Oreo'" "b'6'"]
 ["b'Moo Moo'" "b'3'"]
 ["b'Milkshake'" "b'2'"]
 ["b'Millie'" "b'5'"]
 ["b'Lola'" "b'2'"]
 ["b'Florence'" "b'2'"]
 ["b'Henrietta'" "b'9'"]]

In [ ]:
# Import CSV File

In [1]:
import pandas as pd
file='gapminder.csv'

In [19]:
# read the CSV file with pandas
data=pd.read_csv(file)
print(data.head())

  Unnamed: 0      country    year  population      cont  life_exp  \
0         11  Afghanistan  2007.0  31889923.0      Asia    43.828
1         23      Albania  2007.0   3600523.0    Europe    76.423
2         35      Algeria  2007.0  33333216.0    Africa    72.301
3         47       Angola  2007.0  12420476.0    Africa    42.731
4         59    Argentina  2007.0  40301927.0  Americas    75.320

        gdp_cap
0    974.580338
1   5937.029526
2   6223.367465
3   4797.231267
4  12779.379640

In [20]:
# scip 2 rows and set the header to None - when there is no header in the file
data=pd.read_csv(file, nrows=2, header=None)
print(data.head())

      0            1     2           3     4         5            6
0   NaN      country  year  population  cont  life_exp      gdp_cap
1  11.0  Afghanistan  2007  31889923.0  Asia    43.828  974.5803384

In [21]:
# Build a numpy array from the DataFrame: data_array
data_array=data.values
print(data_array)

[[nan 'country' 'year' 'population' 'cont' 'life_exp' 'gdp_cap']
 [11.0 'Afghanistan' '2007' '31889923.0' 'Asia' '43.828' '974.5803384']]

In [ ]:
# Import Excel File

In [4]:
xlsFile='ExcelToLoad.xlsx'

In [20]:
xl = pd.ExcelFile(xlsFile)
print(xl.sheet_names)

['s1', 's2', 'data', 'data final']

In [21]:
# parse with the sheet name
df1 = xl.parse('s1')
print(df1)

   ID  Year       car
0   1  2001     Mazda
1   2  2002    Suzuki
2   3  2003  Mercedes
3   4  2004      Audi

In [22]:
# parse with the index of the sheet. The first sheet is the 0
df2 = xl.parse(0)
print(df2)

   ID  Year       car
0   1  2001     Mazda
1   2  2002    Suzuki
2   3  2003  Mercedes
3   4  2004      Audi

In [23]:
# skip the first row
df = xl.parse(0, skiprows=[0])
print(df)

   1  2001     Mazda
0  2  2002    Suzuki
1  3  2003  Mercedes
2  4  2004      Audi

In [24]:
# read only the second column and re-name Year to Sold year
df = xl.parse(1, parse_cols=[1], names=['Sold year'])
print(df)

   Sold year
0       2001
1       2002
2       2003
3       2004

In [25]:
df = xl.parse(0, skiprows=[0], names=['Car ID','Sold Year','Car Name'])
print(df)

   Car ID  Sold Year  Car Name
0       2       2002    Suzuki
1       3       2003  Mercedes
2       4       2004      Audi